<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Profesor</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">

</head>
<body>
<div class="container text-center mt-5">
    <form th:action="@{/private/teacher/group/save}" th:object="${grupoDto}" method="post" >

        <div class="form-group">
            <label for="classroom" class="sr-only" th:text="#{signup.email}">Salon</label>
            <input type="text" class="form-control" th:field="*{classroom}" placeholder="Salon" id="classroom">
            <div class='alert alert-danger' th_if="${#fields.hasErrors('classroom')}" th:errors="*{classroom}"></div>
        </div>

        <div class="form-group">
            <label for="hours" class="sr-only" th:text="#{signup.nombre}">Hora</label>
            <input type="text" class="form-control" th:field="*{hours}" placeholder="Hora" id="hours">
            <div class='alert alert-danger' th_if="${#fields.hasErrors('hours')}" th:errors="*{hours}"></div>
        </div>

        <label for="code" class="sr-only"></label>
        <select class="form-control" name="code" id="code" th:field="*{subjectCode}">
            <option value="">Selecciona el código de la asignatura</option>
            <option th:each="code: ${subjectsCodes}" th:text="${code}" th:value="${code}"></option>
        </select>
        <div class='alert alert-danger' th_if="${#fields.hasErrors('subjectCode')}" th:errors="*{subjectCode}"></div>

        <input th:value="#{signup.boton}" type="submit" name="formGroup" id="formGroup" class="btn btn-block btn-primary mb-4 mt-3" value="Continuar">

    </form>
</div>
<footer class="d-flex justify-content-end align-items-end fixed-bottom pr-5 pb-4 " >
    <a th:href="@{/private/teacher}" class="btn btn-dark ">Volver</a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<script th:src="@{/js/formGroup.js}" src="../static/js/formGroup.js" type="module"></script>
</body>
</html>